@import "tailwindcss";

/* Déclaration @font-face pour Maxitype Selecta */
@font-face {
  font-family: "Selecta";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../public/fonts/Selecta/Trial_WOFF2/SelectaTrial-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Selecta";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../public/fonts/Selecta/Trial_WOFF2/SelectaTrial-Bold.woff2")
    format("woff2");
}

/* Déclaration @font-face pour Inter Variable */
@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-custom-white: var(--custom-white);
  --color-foreground: var(--foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --font-selecta: "Selecta", sans-serif;
  --font-inter: "Inter Variable", sans-serif;
  --radius-md: var(--rounded-md);
  --radius-sm: var(--rounded-sm);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f1ed;
    --secondary-background: #e9e7e2;
    --primary: #c8ff00;
    --secondary: #1f1f1f;
    --custom-white: #ffffff;
    --foreground: #000000;
    --secondary-foreground: #797977;
    --rounded-md: 16px;
    --rounded-sm: 10px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-selecta);
}
